# Compiled class files
*.class

# Package files
*.jar
*.war

# Maven / Gradle
target/
build/

# IntelliJ
.idea/
*.iml

# Eclipse
*.classpath
*.project
.settings/

# VS Code
.vscode/

# Logs
*.log

# Others
bin/
out/
